/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
}

body {
    font-family: 'Lato', sans-serif;
}
/* ------------------ Shadow css ---------------- */
.box {
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
/* ------------------ Icons ----------------- */
.icons {
    font-size: 2rem;
}

/* ----------------------- Navbar ----------------------- */
@media only screen and (min-width: 992px) {
    .navbar {
        flex-direction: column;
    }
    .navbar-collapse {
        flex-direction: column;
    }
    .navbar-nav {
        align-items: center;
        font-size: 1.3rem;
    }
    .nav-item {
        margin: 0 3rem;
    }
} 

/* ----------------------- Colors ----------------------- */
:root {
    --darkest-teal: #012E40;
    --dark-teal: #025159;
    --medium-teal: #038C8C;
    --light-teal: #03A696;
    --orange: #f58d0e;
    --dark-orange: #df7904fb;
    --off-white: #f3f0ed;
}
.a-color {
    color: black;
}
.a-color:hover {
    color: var(--medium-teal);
}


/*  ----------------------- special rows -----------------------  */
.row-center {
    align-items: center;
    justify-content: center;
}

/* ----------------------- Cards ----------------------- */
.card {
    padding: 2rem;
}

.category-card {
    margin: 1rem;
    background-color: var(--off-white);
    color: var(--dark-teal);
    text-align: center;

}
.title {
    color: var(--darkest-teal);
    text-decoration: none;
    text-shadow: var(--medium-teal);
    font-size: 3rem;
    font-weight: 600;
}
.title:hover {
    text-decoration: none;
    color: var(--medium-teal);
}

a:hover {
    text-decoration: none;
}


/* ----------------------- Buttons ----------------------- */
.btn-primary {
    background-color: var(--dark-teal);
    border-color: var(--dark-teal);
    color: var(--off-white);
    margin-bottom: 4px;
}

.btn-primary:hover {
    background-color: var(--light-teal);
    border-color: var(--light-teal);
}

.btn-danger {
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-danger:hover {
    background-color: var(--dark-orange);
    border-color: var(--dark-orange);
}


/* ----------------------- Image placeholders ----------------------- */
.no-image {
    background: rgb(161, 161, 161);
    width: 100%;
    height: 5rem;
    border-radius: 5px;
}

button>a {
    color: var(--off-white);
}

/*----------------------- Home page -----------------------*/
.hero {
    width: 100%;
    height: 80vh;
    background-image: url(../images/background-house.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-layer {
    width: 100%;
    height: 80vh;
    padding-top: 3rem;
    background-color: rgba(31, 36, 34, 0.6);
}

.jumbotron {
    background-color: rgba(220, 220, 220, 0.8);
    margin: 0 auto;
    width: 75%;

}

.second {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--off-white)
}

.home-img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

/* media for home page */
@media only screen and (min-width: 1240px) {
    .jumbotron {
        float: right;
        margin-top: 6rem;
        margin-right: 15rem;
        width: 50%;
    }

}

@media only screen and (max-width: 320px) {
    .jumbotron {
        width: 100%;
    }

    .jumbo-title {
        font-size: 2.5rem;
    }

    .jumbo-lead {
        font-size: 1rem;
    }
}

/* For when nav is collapsed */
@media only screen and (max-width: 992px) {
    .hero {
        height: 90vh;
    }

    .blue-layer {
        height: 90vh;
    }
}
/* Overriding to get coloum at 756px istead of bootstrap default */
@media (max-width: 756px) {
.card-deck {
    flex-direction: column;
    gap: 2rem;
    }
}   
/*----------------------- About page -----------------------*/
.about-header-bg {
    height: 78vh;
    width: 100%;
    background-image: url(../images/pexels-shonejai-1227515.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-hero {
    background-color: rgba(31, 36, 34, 0.6);
    width: 100%;
    height: 100%;
    padding: 1.5rem 3rem;
    color: var(--off-white);
}

.about-heading {
    font-size: 5.5rem;
    font-weight: 900;
    color: var(--off-white);
}

.about-arrow:hover {
    color: var(--orange);
}

.bounce {
    animation: bounce 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounce {

    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-12px);
    }
}

.sweden-benefit {
    min-height: 5rem;
}

.vr-line {
    border-left: 1px solid var(--dark-teal);
    height: 100%;
    padding-left: 0.5rem;
}

.round-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: right;
}

.benefits {
    text-align: center;
}
.benefit-hr {
    width: 20%;
}
.oval-about-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

@media only screen and (max-width: 767px) {
    .vr-line {
        border: none;
    }
}

/* For when nav is collapsed */
@media only screen and (max-width: 992px) {
    .about-header-bg {
        height: 91vh;
    }
}

/*----------------------- Blog -----------------------*/

#blog-header {
    background-image: url(../images/blog-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--off-white);
    width: 100%;
    height: 55vh;
    margin-bottom: 1rem;
    padding: 0;
    border-radius: 5px;
}

.blog-layer {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.blog-hero-heading {
    text-align: center;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 800;
}

.blog-card {
    width: 49%;
    min-height: 20rem;
    margin-bottom: 1rem;
}

.blog-card>a {
    color: black;
}
.blog-card-icon {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.blog-row {
    justify-content: space-between;
}
.blog-about-image {
    max-height: 370px;
    width: 100%;
}

.blog-image {
    max-height: 500px;
}
.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20px;
  }
.comment-icon {
    color: var(--dark-teal);
}

.fa-heart {
    color: rgb(212, 55, 55);
}

.like-btn {
    background: none;
    border: none;
    font-size: 1.6rem;
}

.like-btn:hover {
    zoom: 130%;
}

@media only screen and (max-width: 580px) {
    .blog-row {
        flex-direction: column;
        margin: 0 auto;
        gap: 1rem;
    }

    .blog-card {
        width: 100%;
    }
}

/*----------------------- Entries -----------------------*/
.entry-image {
    min-height: 25rem;
}

/* ---------- Pagination ------------ */
.page-link {
    color: black;
}

/* -------------- Footer ------------- */
.footer-links {
    padding: 0.4rem;
}
.footer-links > a {
    color: black;
}
.footer-links > a:hover {
    color: var(--orange);
}