{% extends "base.html" %}
{% block content %}
<div class="about-page">
    <div class="about-header-bg">
        <div class="about-hero">
            <h1 class="about-heading">We <br> are <br> the <br> House <br> Buddy</h1>
            <div>
                <a href="#about-main" class="about-heading about-arrow"><i class="fas fa-angle-down bounce"></i>
            </div>
        </div>
    </div>
    <div id="about-main" class="main-about-section">
        hihiogogo
    </div>
</div>
{% endblock content %}