{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row-center">
        <div class="col-12">
            {{ post.title }}
            <br>
            <img src="{{ post.image.url }}" alt="" width="100%">
            {{ post.content|striptags }}
            {{ post.posted_on }}
        </div>
    </div>
    <div class="row-center">
        <div class="col-12">
            {% if user.is_authenticated %}
            <form action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" class="like-btn" name="blogpost_id" value="{{ post.slug }}">
                    <i class="fas fa-heart"></i>
                </button>
                {% else %}
                <button type="submit" class="like-btn" name="blogpost_id" value="{{ post.slug }}">
                    <i class="far fa-heart"></i>
                </button>
                {% endif%}
            </form>
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}
        </div>
    </div>
    <div class="row-center">
        <div class="col-sm-12 col-lg-8">
            <h4>Comments: </h4>
            <hr>
            {% for comment in comments %}
            <p>Posted by: {{ comment.name }}</p>
            <p>
                {{ comment.content|striptags }}</p>
            <hr>
            {% endfor %}
        </div>


        <div class="col-lg-4">
            <div class="card">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is submitted, once approved it will show up under comments
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h4>Leave a comment:</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form|crispy}}
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}