{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12" id="blog-header">
            <h2>The blog!</h2>
        </div>
    </div>
    <div class="row blog-row">
        {% for blogposts in blogpost_list %}
        <div class="card blog-card">
            <a href="{% url 'blogpost' blogposts.slug %}">
                <span>{{ blogposts.get_category_display }}</span>
                <h5 class="hard-header">
                    {{ blogposts.title }}
                </h5>
            
            <hr>
            <p>
                {{ blogposts.created_on }}
            </p>

            {{ blogposts.comments.count }}
        </a>
        </div>
            {% endfor %}
        
    </div>
</div>
{% endblock content %}