{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12" id="blog-header">
            <h2>The blog!</h2>
        </div>
    </div>
    <div class="row blog-row">
        {% for blogposts in blogpost_list %}
        <div class="card blog-card">
            <a href="{% url 'blogpost' blogposts.slug %}">
                <span>{{ blogposts.get_category_display }}</span>
                <h5 class="hard-header">
                    {{ blogposts.title }}
                </h5>
            
            <hr>
            <p>
                {{ blogposts.created_on }}
            </p>
            {% if blogposts.comments.count == 0 %}
                <i class="fal fa-comment"></i>
            {% elif blogposts.comments.count == 1 %}
                <span><i class="fas fa-comment"></i></span>
                <span>{{ blogposts.comments.count }}</span>
            {% else %}
                <span><i class="fas fa-comments"></i></span>
                {{ blogposts.comments.count }} %}   
            {% endif %}
        </a>
        </div>
            {% endfor %}
        
    </div>
</div>
{% endblock content %}