{% extends "base.html" %}

{% block content %}
<div class="container box m-3 mx-auto p-5">
    <div class="row mb-3">
        <div class="col-12 col-sm-6 mb-3">
            <a href="{% url 'mypage' %}" class="title">
                <i class="fas fa-user-circle"><span class="ml-2">Back to my page</span></i>
            </a>
        </div>
        <div class="col-12 col-sm-6 title text-sm-right mb-3">
            <a href="{% url 'new_category' %}" class="title">
                <i class="fas fa-plus mr-2">
                    <span>Add a new category</span></i>
            </a>
        </div>
    </div>
    <div class="row">
        {% for category in categories_list %}
        <div class="col-sm-12 col-md-6 col-lg-4 p-3 category-card text-center">
            <div class="card box p-3">
                <div class="card-body">
                    <a href="{% url 'detail_category' category.id %}">
                        <h5 class="hard-header title">
                            {{ category.name|title }}
                        </h5>
                    </a>
                    <hr class="w-25">
                    <div class="">
                        <a href="{% url 'edit_category' category.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_category' category.id %}" class="btn  btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center p-4">
            <p>It looks like you don'y have any categories yet, add one to get started</p>
        </div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="row mx-auto justify-content-center mt-4 mb-3">
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination box">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                {% if page_obj.3.exists %}
                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                {% endif %}
                {% if page_obj.4.exists %}
                <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock content %}