{% extends 'base.html' %}
{% block content %}
<button class="btn btn-primary"><a href="javascript:history.go(-1)">Go Back</a></button>
{% if items.count > 0 %}
  {% for item in items %}
    <div class="card" style="width: 18rem;">
      {% if item.image %}
        <img class="card-img-top" src="#" alt="Card image cap">
      {% else %}
        <div class="no-image"></div>
      {% endif %}
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'entry_detail' item.id %}">{{ item.title|title }}</a></h5>
      <p class="card-text">{{ item.category }}</p>
      <a href="{% url 'edit_entry' item.id %}" class="btn btn-primary">Edit</a>
    </div>
  </div>
  {% endfor %}
{% else %}
  <h2>There are no entires in {{ categories.name }}</h2>
  <button class="btn btn-primary">
    <a href="{% url 'new_entry' %}">Add a entry</a></button>

{% endif %}
{% endblock content %}
