{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <a href="{% url 'new_category' %}" class="btn btn-primary">
            Add a Category
        </a>
    </div>
    <div class="row">
        {% if categories_list.count == 0 %}
        <div class="col-12">
            <h3>Lookes like the Category list is empty, add <a href="{% url 'new_category' %}">one</a> to get started!
            </h3>
        </div>
        {% else %}
        {% for category in categories_list %}
        <div class="col-sm-12 col-md-4 card category-card">
            <a href="{% url 'detail_category' category.id %}">
                <h5 class="hard-header title">
                    {{ category.name }}
                </h5>
            </a>
            <a href="{% url 'edit_category' category.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_category' category.id %}" class="btn btn-danger">Delete</a>

        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}