{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-3 mt-5">
            <h2>Contact us!</h2>
            <hr>
            <p>
                We would love to hear from you, whether you have a question, want help with resetting your password, or
                just want to share some feedback, please feel free to get in touch!
            </p>
            <p>
                Fill in the contact form and we will get back to you as soon as possible.
            </p>
            <span class="font-italic">- The House Buddy Team</span>
        </div>
        <div class="col-sm-12 col-lg-8 mt-5 mb-5 box p-4 bg-light">
            <form id="contact-form">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="from_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" id="email" name="user_email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="subject">Choose a subject: </label>
                    <select id="subject" name="subject" class="form-control" required>
                        <option value="Contact" selected>Contact</option>
                        <option value="Mypage">My page</option>
                        <option value="Questions">Questions</option>
                        <option value="Blog">The Blog</option>
                        <option value="Feedback">Feedback</option>
                        <option value="Reset-password">Reset password</option>
                        <option value="Other">Other inquiries</option>
                    </select>
                    <small id="subjectHelp" class="form-text text-muted">Let us know what we can help you with for a
                        quicker
                        response</small>
                </div>
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="10" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-teal" id="contactModalBtn">
                </div>
            </form>
        </div> 
    </div>
</div>

<!-- Modal for message sent -->
<div id="contactModal" class="modal contact-modal">
    <div class="modal-content contact-modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Message sent</h5>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p>Thank you for getting in touch, we will get back to you as soon as possible.</p>
        </div>
    </div>
</div>

<script>
    /**
 * Code to send email to house buddy mail
 * Code for setting up Emailjs comes from 
 * the documentation or their webpage
 * https://www.emailjs.com/docs/sdk/send/
 * The code for the modal is from: 
 * https://www.w3schools.com/howto/howto_css_modals.asp
 */
    window.onload = function () {
        let form = document.getElementById('contact-form')
        let modal = document.getElementById("contactModal");
        let span = document.getElementsByClassName("close")[0];
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            emailjs.sendForm("service_2qjf15k", "housebuddy", this)
                .then(function () {
                    form.reset()
                    modal.style.display = "block";
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                }, function (error) {
                    alert('Message not sent, try again.', error);
                });
        });
    }
</script>

{% endblock content %}