{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card m-5 p-4 box bg-light">
    <div class="col-12 col-sm-6 mb-3">
        <a href="{% url 'categories' %}" class="title">
            <i class="fas fa-angle-double-left"><span class="ml-2">Go back to categories</span></i>
        </a>
    </div>
    <div class="card-title text-center p-2">
        <h3>Update category</h3>
        <hr class="w-25">
    </div>
    <div class="card-body">
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Update" class="btn btn-teal">
        </form>
    </div>
</div>
{% endblock content %}