{% extends "base.html" %}

{% block content %}
<h1>Entries</h1>
<div class="row">
    <div class="col-12 card">
        <a href="{% url 'new_entry' %}">
            Add a entry
        </a>
    </div>
    {% if entries_list.count == 0 %}
    <div class="col-12">
        <h3>Lookes like the Entry list is empty, add <a href="{% url 'new_entry' %}">one</a> to get started!</h3>
    </div>
    {% else %}
    {% for entries in entries_list %}
    <div class="card " style="width: 20rem;">
        {% if item.image %}
        <img class="card-img-top" src="#" alt="Card image cap">
        {% else %}
        <div class="no-image"></div>
        {% endif %}

        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'entry_detail' entries.id %}">{{ entries.title }}</a></h5>
            <p class="card-text">Category: {{ entries.category }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date purchased: {{ entries.date_of_purchase }}</li>
            <li class="list-group-item">Amount: {{ entries.amount }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'edit_entry' entries.id %}" class="card-link">Edit</a>
        </div>
    </div>
    {% endfor %}

    {% endif %}
</div>
{% endblock content %}