{% extends "base.html" %}

{% block content %}
<div class="container box m-3 mx-auto p-4 p-sm-5 bg-light">
    <div class="row mb-3">
        <div class="col-12 col-sm-6 mb-3">
            <a href="{% url 'entries' %}" class="title">
                <i class="fas fa-angle-double-left"><span class="ml-2">Back to entries</span></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="">{{ entries.title }}</h4>
            <hr>
        </div>
        <div class="col-12 col-md-5">
            {% if "placeholder" in entries.image.url %}
            <div class="no-image"></div>
            {% else %}
            <img src="{{ entries.image.url }}" class="entry-image" alt="Image for the entry">
            {% endif %}
        </div>

        <div class="col-12 col-md-6 mt-3 mb-3">
            <p class="">Category: {{ entries.category }}</p>
            {% if entries.date_of_purchase %}
            <p class="">Date purchased: {{ entries.date_of_purchase }}</p>
            {% else %}
            <p class="">Date of purchase: Not known</p>
            {% endif %}
            <p class="">Amount: {{ entries.amount }}</p>
            <p class="">Date added: {{ entries.date_added }}</p>
            <p class="">Updated: {{ entries.date_updated }}</p>
            <br>
            <p class="text-center">Description:</p>
            <hr class="w-75">
            <p class="text-center">{{ entries.description }}</p>
        </div>
        
        <div class="col-12 card-body">
            <a href="{% url 'edit_entry' entries.id %}" class="btn btn-teal">Edit</a>
            <button type="button" class="btn btn-teal-outline" data-toggle="modal" data-target="#deleteModalCenter">
                Delete
            </button>
        </div>
        <!-- Modal to delete entry -->
        <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="deleteModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLongTitle">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        By pressing delete your Entry: {{ entries.title }} will be deleted
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-teal" data-dismiss="modal">Close</button>
                        <form action="{% url 'delete_entry' entries.id %}" method="post">{% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-teal-outline">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}