{% extends "base.html" %}

{% block content %}
<h1>Entries</h1>
<div class="row">
    <div class="col-12 card">
        <a href="{% url 'new_entry' %}">
            Add a entry
        </a>
    </div>
    {% if entries_list.count == 0 %}
    <div class="col-12">
        <h3>Lookes like the Entry list is empty, add <a href="{% url 'new_entry' %}">one</a> to get started!</h3>
    </div>
    {% else %}
    {% for entries in entries_list%}
    <div class="col-sm-6 col-lg-4 card">
        <a href="{% url 'entry_detail' entries.id %}">
            <h4 class="hard-header">
                {{ entries.title }}
            </h4>
            <h6>
                Category: {{ entries.category }}
            </h6>
            <p>
                Amount: {{ entries.amount }}
            </p>

        </a>
        <button class="btn btn-primary"><a href="{% url 'edit_entry' entries.id %}">Edit</a></button>
        <!-- Button to trigger delete modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModalCenter">
            Delete
        </button>
        <!-- Modal for deleting a category -->
        <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLongTitle">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        By pressing delete your Entry: {{ entries.title }} will be deleted
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{% url 'delete_entry' entries.id %}" method="post">{% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}