{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="hero">
  <div class="blue-layer">
    <div class="jumbotron box">
      <h1 class="display-4 jumbo-title">Finally!</h1>
      <p class="lead jumpo-lead">An easy way to store and keep track of all your thousands of receipts and documents connected to your property.
      </p>
      <hr class="my-4">
      <p>With House Buddy, you can store all of your papers, documents, and receipts in your custom Categories, easily accessed from your page.
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>

<div class="second p-2">
  <div class="card-columns mt-4">
    <div class="card box">

      <div class="card-body">
        <h5 class="card-title">Make your own categories to fit your needs</h5>
        <p class="card-text">House Buddy is your Buddy, so you decide what kinds of categories you want</p>
      </div>
    </div>
    <div class="card box p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>Our main goal is to make life a little bit easier for homeowners, it is that simple!</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Leia, founder of <cite title="Source Title">House Buddy</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card box text-center">
      
      <div class="card-body">
        <h5 class="card-title">House Buddy Blog</h5>
        <p class="card-text mt-4"><strong>Kiela</strong> runs the blog here at House Buddy, she writes about her everyday life renovating houses, and she shares a lot of useful tips and how to save money on home renovations</p>
        <p class="card-text"><small class="text-muted"><a href="{% url 'blog' %}">Read more</a></small></p>
      </div>
    </div>
    <div class="card box text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>I love it!</p>
        <footer class="blockquote-footer">
          <small>
            Eric <cite title="Source Title">House Buddy user</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card box text-center">
      <div class="card-body">
        <h5 class="card-title">It's Free!</h5>
        <p class="card-text">House Buddy is completely free to use, create an account if you haven't got one already and get started today!</p>
        <p class="card-text"><small class="text-muted"><a href="{% url 'account_signup' %}">Sign up</a></small></p>
      </div>
    </div>
    <div class="card box p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>It is so easy! Why is not everybody using House Buddy already, so much time and headache saved!</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Ana <cite title="Source Title">House Buddy user</cite>
          </small>
        </footer>
      </blockquote>
    </div>

  </div>
</div>
<div class="third">

</div>

{% endblock content %}