{% extends "base.html" %}

{% block content %}


<div class="hero">
  <div class="blue-layer">
    <div class="jumbotron">
      <h1 class="display-4 jumbo-title">Finally!</h1>
      <p class="lead jumpo-lead">An easy way to store and keep track of all your thousands of receipts and documents connected to your property.
      </p>
      <hr class="my-4">
      <p>With House Buddy, you can store all of your papers, documents, and receipts in your custom Categories, easily accessed from your page.
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>
<div class="second">
  <div class="containter">
    <div class="row">
      <div class="card col-sm-12 col-md-4">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-4">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-4">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="third">

</div>

{% endblock content %}